<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>From</strong>: <a href="mailto:<%= info[:email] %>"><%= info[:name] %></a></p>
    <p><%= info[:message].html_safe %></p>
  </body>
</html>